@mixin title{
    font-weight: bold;
    color: $color-primary;
}

@mixin linkFooter{ 
    a {
        font-size: 1rem;
        color: $color-black;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    
        &:hover {
          color: $color-primary;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
        }
    }
}